<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basketballwarmups">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BasketballWarmUps">
        <activity android:name=".WithBall2"></activity>
        <activity android:name=".WholeBodyDynamic2" />
        <activity android:name=".RestSingleLegRoll" />
        <activity android:name=".RestLungeWithPassBack" />
        <activity android:name=".RestSideLungeWithTouch" />
        <activity android:name=".RestWaistWrap" />
        <activity android:name=".RestBallTap" />
        <activity android:name=".RestBallDribble" />
        <activity android:name=".RestPushUp" />
        <activity android:name=".RestGluteWalk" />
        <activity android:name=".RestWalkingLungesWithRotation" />
        <activity android:name=".RestInchworm" />
        <activity android:name=".RestSquat" />
        <activity android:name=".RestFrankensteinMarch" />
        <activity android:name=".RestLunges" />
        <activity android:name=".RestSideSlide" />
        <activity android:name=".RestWalkingHighKnees" />
        <activity android:name=".RestButtKick" />
        <activity android:name=".RestKneeStretchRight" />
        <activity android:name=".RestKneeStretchLeft" />
        <activity android:name=".RestJumpingJacks" />
        <activity android:name=".RestKneeHugsRight" />
        <activity android:name=".RestKneeHugsLeft" />
        <activity android:name=".RestArmCircles" />
        <activity android:name=".RestArmStretchRight" />
        <activity android:name=".RestArmStretchLeft" />
        <activity android:name=".SingleLegRoll" />
        <activity android:name=".BackLungeWithPassBack" />
        <activity android:name=".SideLungeWithTouch" />
        <activity android:name=".WaistWrap" />
        <activity android:name=".BallTap" />
        <activity android:name=".BallDribble" />
        <activity android:name=".PushUp" />
        <activity android:name=".GluteWalks" />
        <activity android:name=".WalkingLungeWithRotation" />
        <activity android:name=".Inchworm" />
        <activity android:name=".Squat" />
        <activity android:name=".FrankensteinMarch" />
        <activity android:name=".Lunges" />
        <activity android:name=".SideSlides" />
        <activity android:name=".WalkingHighKnees" />
        <activity android:name=".ButtKicks" />
        <activity android:name=".KneeStretchRight" />
        <activity android:name=".KneeStretchLeft" />
        <activity android:name=".JumpingJacks" />
        <activity android:name=".KneeHugsRight" />
        <activity android:name=".KneeHugsLeft" />
        <activity android:name=".InPlacee" />
        <activity android:name=".ArmCircles" />
        <activity android:name=".ArmStretch2" />
        <activity android:name=".ArmStretch" />
        <activity android:name=".Stretching" />
        <activity android:name=".WithBall" />
        <activity android:name=".InPlace" />
        <activity android:name=".WholeBodyDynamic" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>